aiofiles
cffi
cryptography
docutils
dotty-dict
gitdb
httptools
jwt
multidict
pycparser
PyJWT
sanic
sanic-routing
ujson
uvloop
google-cloud-storage
abifsm @ git+https://github.com/voteagora/abifsm@master
PyYAML
argh
web3
websocket-client>=14.2
sanic-ext
python-dotenv